# ============================================================================
# Configuration de migrate-movies.sh
# Complétez et renommez ce fichier Import_Library.env
# ============================================================================

# Token "API Read Access Token" TMDB.
# Il s'agit bien du token à utiliser comme argument GET `api_key=`...
TMDB_TOKEN=""

# Instance de scene-release-parser.
# Mettre l'URL du service ou "LOCAL" pour l'executer en local via à Docker
RELEASE_PARSER_URL="https://<URL_À_COMPLÉTER>"

# Nombre maximum de résultats TMDB proposés dans le TUI.
TMDB_MAX_RESULTS="20"
